/*general*/
html, body {
    min-height: 100%;
    background: var(--background);
    color: white;
}
body {
    margin-bottom: 70px; /* to compensate bottom nav */
}
h2 { /*screen title*/
    color: var(--text_container);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 34px;
    text-align: center;
    margin-bottom: 16px;
}
h3 { /*container title*/
    color: var(--text_container);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 16px;
}
p {
    color: var(--text_container);
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
}
a {
    text-decoration: none;
    color: var(--link);
}
.material-icons {
    color: var(--text_container);
    transition: 0.4s;
}
nav .material-icons:hover {
    color: var(--primary);
}

.btn-primary {
    width: 120px;
    height: 40px;
    background: var(--primary);
    color: var(--text_primary);
    border: none;
    border-radius: 30px;
    cursor: pointer;
}
.btn-secondary {
    width: 120px;
    height: 40px;
    background: transparent;
    color: white;
    background-color: var(--secondary);
    border: 1px solid var(--secondary);
    border-radius: 30px;
    cursor: pointer;
}
.btn-center {
    display: flex;
    justify-content: center;
}
.btn-fixed {
    position: fixed;
    bottom: 70px;
}
.space {
    height: 30px;
}
.error {
    margin: auto;
    background: var(--error-content);
    border: 1px solid var(--error-border);
    width: 100%;
    border-radius: 4px;
    padding: 8px;
}


.container {
    background: var(--container);
    margin-right: 16px;
    margin-left: 16px;
    margin-bottom: 16px;
    padding: 8px 16px;
    border-radius: 4px;
}
.container .title-info {
    display: flex;
    justify-content: space-between;
}
.container label {
    color: var(--text_container);
}
.container input {
    width: 100%;
    height: 35px;
    margin-top: 4px;
    margin-bottom: 16px;
    background: var(--input);
    color: var(--text_container);
    border: none;
    border-radius: 5px;
}
.container input.check {
    height: 16px;
    width: 16px;
}
.container .inputs {
    margin-bottom: 32px;
}
.container .other-option-link {
    text-align: center;
    margin-top: 16px;
}
.container .description {
    display: flex;
    justify-content: space-between;
    color: var(--text_container);
}



/*navbar*/
nav {
    width: 100%;
    height: 56px;
    z-index: 3;
    /*vertical alignment*/
    display: flex;
    align-items: center;
    overflow: hidden;
}
nav.top-nav {
    top: 0;
    position: relative;
    background-color: transparent;
}
nav.bottom-nav {
    bottom: 0;
    position: fixed;
    background-color: var(--bottom_nav);
}
nav ul {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul li {
    display: inline-block;
    list-style-type: none;
}
nav ul li .add {
    background-color: var(--primary);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav .logo img {
    height: 34px;
}

#open {
    display: inline;
}

#close {
    display: none;
}

/*Sidenavbar*/
.sidenav {
    height: 100%;
    width: 0;
    z-index: 2;
    position: fixed;
    right: 0;
    background: var(--side_nav);
    transition: 0.5s;
}
.sidenav ul {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
}
.sidenav ul li {
    margin-top: 0px;
    list-style-type: none;
    transition: 1s;
}
.sidenav a {
    color: var(--nav_icons);
    font-size: 25px;
    overflow-x: hidden;
    transition: 0.4s;
}
.sidenav a:hover {
    color: var(--active);
}
.sidenav .logout {
    color: rgb(172, 0, 0);
}


/*Add Screen*/
.datetime {
    margin-left: 16px;
    margin-right: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}
.datetime span {
    color: var(--text_container);
    font-size: 14px;
}
.datetime input {
    background-color: transparent;
    border: none;
    color: var(--text_container);
}
.add-screen .slider {
    -webkit-appearance: none;
    height: 10px;
    background: var(--button);
    border-radius: 5px;
}
.add-screen .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%; 
    background: white;
    cursor: pointer;
}
.add-screen .slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
}
.add-screen .container .description .level-text {
    color: greenyellow;
    font-size: 32px;
}
.add-screen .container .description #energyIcon {
    font-size: 32px;
}

.add-screen .activities {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-row-gap: 10px;
    grid-column-gap: 10px;
}
.add-screen .activities a {
    border: 1px solid var(--button);
    border-radius: 4px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--text_container);
}
.add-screen .activities a.active {
    border: none;
    color: var(--text_primary);
    background-color: var(--primary);
}
.add-screen .activities a.add{
    border: 1px dashed var(--add_btn);
    color: var(--add_btn);
}
/*modal: add activity*/
.modal-box {
    display: none;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(18, 18, 18, 0.9);
    position: fixed;
    z-index: 1;
    padding-top: 200px;
}
.modal-box .container {
    background-color: var(--container);
}
.modal-buttons {
    margin-bottom: 8px;
    display: flex;
    justify-content: space-around;
}

.add-screen .container textarea {
    width: 100%;
    background: var(--container);
    border: none;
    border-radius: 4px;
    resize: vertical;
    color: var(--text_container);
}

/* removes icons in date/time-input for chrome  */
input[type="time"]::-webkit-calendar-picker-indicator {
    background: none;
    display: none;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    background: none;
    display: none;
}


/* dashboard */
.diagram {
    height: 300px;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 4px;
    height: 300px;
}

.welcome-text {
    color: var(--primary);
    text-align: center;
}

/* Entries */
.container.day {
    border-left: 4px solid green;
}
.day .title-row {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
}
.day .entry .activities {
    width: 95%;
}
.day .entry .time {
    color: gray;
    padding-top: 4px;
}
.day .entry {
    border-bottom: 1px solid gray;
}
.day .entry .description {
    padding-top: 4px;
    padding-bottom: 8px;
    display: flex;
    justify-content: space-between;
}
.day .entry .energyValue {
    display: flex;
    align-items: center;
    font-size: 20px;
}
