/*variables*/
:root {
    /* General */
    --primary: #4A83B4;
    --secondary: #F55B53;
    --gray: #7D8082;
    --error-content: #f39e9e;
    --error-border: #a04444;


    /* Dark
    --background: #1E1F1F;
    --container: #252627;
    --text: #F8FAFC;
    */
    
    /* Light
    */
    --background: #F8FAFC;
    --container: #DBE6F0;
    --text: #1E1F1F;
    

    --input: var(--background);
    --link_p: var(--primary);
    --link_s: var(--secondary);
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: var(--text); 
}

.container input {
    width: 100%;
    height: 35px;
    margin-top: 4px;
    margin-bottom: 16px;
    background: var(--input);
    color: var(--text);
    border: none;
    border-radius: 5px;
}

textarea {
    width: 100%;
    background: var(--container);
    border: none;
    border-radius: 4px;
    resize: vertical;
    color: var(--text);
}