* {
    font-size: 16px;
    color: #1E1F1F;
}

section.top {
    height: 100vh;
    background: linear-gradient(158.18deg, rgba(74, 131, 180, 0.46) 14.24%, rgba(74, 131, 180, 0) 57.38%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 64px;
}


h1 {
    color: var(--primary);
    font-size: 48px;
    width: 60%;
    padding-bottom: 16px;
}
h2 {
    text-align: center;
    color: #1E1F1F;
    font-size: 48px;
    font-weight: 500;
    margin-bottom: 32px;
    margin-top: 64px;
}
h3 {
    color: #1E1F1F;
    font-size: 24px;
    text-align: center;
    margin-top: 16px;
    font-weight: 600;
}
h4 {
    font-size: 24px;
    color: #1E1F1F;
    width: 50%;
    font-weight: 200;
    padding-bottom: 16px;
}
p {
    color: #1E1F1F;
    font-size: 16px;
}
.top img {
    height: 80%;
    width: auto;
    margin-right: 64px;
}


.btn-primary {
    width: 120px;
    height: 40px;
    background: var(--primary);
    color: var(--text);
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
.btn-secondary {
    width: 150px;
    height: 50px;
    background: transparent;
    color: white;
    background-color: var(--secondary);
    border: 1px solid var(--secondary);
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

.features .containers {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.features .feature {
    width: min(275px, 90%);
    height: 350px;
    border-radius: 32px;
    background-color: #DBE6F0;
   padding: 16px;
}
.features .icon {
    display: flex;
    align-items: center;
    margin-top: 32px;
    margin-bottom: 32px;
}
.features span {
    color: var(--secondary);
    font-size: 64px;
    margin: auto;
}
.features p {
    text-align: justify;
}

.logo img{
    height: 48px;
}

#open {
    display: block;
}
#close {
    display: none;
}

nav ul {
    list-style: none;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    height: 64px;
    padding-right: 64px;
}
.desktop-nav .right {
    width: 45%;
    display: flex;
    justify-content: flex-end;
    gap: 64px;
    align-items: center;
}
.desktop-nav .right a {
    text-decoration: none;
}
nav .language {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.desktop-nav left {
    width: 45%;
}
.mobile-nav {
    display: none;
}
a {
    text-decoration: none;
}

section.about {
    height: auto;
    background: linear-gradient(5.59deg, rgba(74, 131, 180, 0.46) 13.46%, rgba(74, 131, 180, 0) 74.28%);
    padding-left: 64px;
    padding-right: 64px;
    padding-top: 64px;
    padding-bottom: 8px;
}
.about .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h2.side-title {
    text-align: left;
    max-width: 60%;
}
.about p {
    margin-top: 64px;
    text-align: center;
    bottom: 0;
}
.about img {
    max-width: 40%;
    max-height: 400px;
}


.active {
    color: var(--secondary);
}
/*Sidenavbar*/
.sidenav {
    height: 100%;
    width: 250px;
    display: none;
    z-index: 2;
    position: fixed;
    right: 0;
    background: #F8FAFC;
}
.sidenav ul {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
}
.sidenav ul li {
    margin-top: 0px;
    list-style-type: none;
    transition: 1s;
}
.sidenav a {
    color: #1E1F1F;
    font-size: 25px;
    overflow-x: hidden;
    transition: 0.4s;
}
.sidenav a:hover {
    color: var(--secondary);
}
.sidenav .logout {
    color: rgb(172, 0, 0);
}


@media only screen and (max-width: 1000px){
    .mobile-nav {
        display: block;
    }
    .desktop-nav {
        display: none;
    }
    section.top {
        min-height: 100vh;
        height: auto;
        background: linear-gradient(158.18deg, rgba(74, 131, 180, 0.46) 14.24%, rgba(74, 131, 180, 0) 57.38%);
        display: flex;
        flex-direction: column;
        padding: 16px;
        text-align: center;
    }
    h1 {
        margin-top: 100px;
        width: 100%;
    }
    h4 {
        margin-top: 32px;
        width: 100%;
    }
    section.top button {
        margin-top: 32px;
    }
    .top img {
        height: 500px;
        margin-top: 64px;
        margin-right: 16px;
    }

    .features .containers {
        flex-direction: column;
        row-gap: 32px;
    }
    .language {
        min-width:200px;
    }

    section.about {
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 16px;
        padding-bottom: 8px;
    }
    .about .content {
        flex-direction: column;
        text-align: center;
    }
    h2.side-title {
        max-width: 100%;
        text-align: center;
    }
    .about p {
        margin-top: 64px;
        text-align: center;
        bottom: 0;
    }
    .about img {
        max-width: 100%;
    }
}