/*variables*/
:root {
    --primary: #0F74DC;
    --secondary: #0CBCDB;
    --background: #121212;
    --container: #212225;

    --text_primary: #ffffff;
    --text_secondary: #000000;
    --text_background: #ffffff;
    --text_container: #ffffff;

    --error-content: #f39e9e;
    --error-border: #a04444;

    --link: #0F74DC;


    --text: #ffffff;
    --input: #121212;
    --add_btn: #414141;
    --button: #0F74DC;

    --bottom_nav: #212225;
    --nav_icons: #ffffff;
    --active: #1c1c1c;
}

/*general*/
* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}
html, body {
    background: var(--background);
}
h2 {
    color: var(--text_container);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 34px;
}
p {
    color: var(--text_container);
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
}
a {
    text-decoration: none;
    color: var(--link);
}

.btn-primary {
    width: 100px;
    height: 30px;
    background: var(--primary);
    color: var(--text_primary);
    border: none;
    border-radius: 30px;
}
.btn-center {
    display: flex;
    justify-content: center;
}

.error {
    margin: auto;
    background: var(--error-content);
    border: 1px solid var(--error-border);
    width: 100%;
    border-radius: 4px;
    padding: 8px;
}


.container {
    background: var(--container);
    margin-right: 16px;
    margin-left: 16px;
    margin-top: 32px;
    padding: 8px 16px;
}
.container-title {
    text-align: center;
    margin-bottom: 8px;
}
.container .form label {
    color: var(--text_container);
}
.container .form input {
    width: 100%;
    height: 35px;
    margin-top: 4px;
    margin-bottom: 16px;
    background: var(--input);
    color: var(--text_container);
    border: none;
    border-radius: 5px;
}
.container .form input:last-child {
    margin-bottom: 100px;
}
.container .other-option-link {
    text-align: center;
    margin-top: 16px;
}



/*Navbar*/
nav {
    margin-top: 0;
    width: 100%;
    height: 64px;
    background-color: var(--bottom_nav);
}

nav ul {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    justify-content: space-between;
}

nav ul li {
    margin-top: 20px;

    display: inline-block;
    list-style-type: none;
}

nav i{
    color: var(--nav_icons);
    transition: 0.4s;
}

nav i:hover {
    color: var(--active);
}

#open {
    display: inline;
}

#close {
    display: none;
}

/*Sidenavbar*/
.sidenav {
    height: 100%;
    width: 0;
    z-index: 1;
    position: fixed;
    right: 0;
    background: var(--bottom_nav);
    transition: 0.5s;
}

.sidenav ul {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
}

.sidenav ul li {
    margin-top: 0px;
    list-style-type: none;
    transition: 1s;
}

.sidenav a {
    color: var(--nav_icons);
    font-size: 25px;
    overflow-x: hidden;
    transition: 0.4s;
}

.sidenav a:hover {
    color: var(--active);
}

.sidenav .logout {
    color: rgb(172, 0, 0);
}


/*Add entry*/
.add-container {
    width: min(400px, 90%);
    margin: auto;
    margin-top: 30px;
}
.add-section {
    background-color: var(--container);
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
}
.datetime {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}
.add-container .datetime i {
    color: var(--text_container);
}
.add-container .datetime input {
    background-color: var(--container);
    border: none;
    color: var(--text_container);
}
.add-section input {
    width: 100%;
}
form textarea {
    margin-bottom: 20px;
    width: 100%;
    background: var(--container);
    border: none;
    border-radius: 4px;
    resize: vertical;
    color: var(--text_container);
}
.add-section .slider {
    -webkit-appearance: none;
    height: 10px;
    background: var(--button);
    border-radius: 5px;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%; 
    background: white;
    cursor: pointer;
}
.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
}
.add-section .title {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    color: var(--text_background);
    padding-bottom: 10px;
}
.add-section .description {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    color: var(--text_container);
}
.add-section .description .level-text {
    color: greenyellow;
}

.activities {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    padding-bottom: 20px;
}
.activities a {
    border: 1px solid var(--button);
    border-radius: 4px;
    height: 45px;
    text-align: center;
    color: var(--text_container);
}
.activities a.add{
    border: 1px dashed var(--add_btn);
    color: var(--add_btn);
}
.activities .activity.add i {
    padding-top: 5px;
}
.modal-box {
    display: none;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(200, 200, 200, 50%);
    position: fixed;
    z-index: 1;
    padding-top: 200px;
}
.add-modal {
    margin-top: 300px;
    width: min(400px, 90%);
    margin: auto;
    background-color: var(--container);
    top: 30%;
    color: var(--text_container);
    text-align: center;
    padding-bottom: 40px;
    padding-top: 10px;
}
.add-modal input {
    margin-top: 20px;
    width: 90%;
    height: 35px;
    margin-bottom: 20px;
    background: var(--input);
    color: var(--text_container);
    border: none;
    border-radius: 5px;
}
.modal-buttons {
    top: 20px;
}
.modal-button1 {
    left: 0;
    margin-left: 0;
    margin-right: 40px;
}
.modal-button2 {
    background-color: transparent !important;
    border: 2px solid var(--button);
    color: var(--button);
    left: 0;
    margin-left: 0;
}