[Unit]
Description=FatigueDiary 
After=syslog.target network.target

[Service]
Type=simple
Restart=on-failure
User=fatiguediary
ExecStart=/home/fatiguediary/start.sh

[Install]
WantedBy=multi-user.target
