[Unit]
Description=FatigueDiary 
After=syslog.target network.target

[Service]
Type=simple
Restart=on-failure
User=SERVICE
ExecStart=/home/SERVICE/start.sh

[Install]
WantedBy=multi-user.target
